.Weather {
  border: 1px solid #dadde1;
  margin-top: 30px;
}
.temperature {
  font-size: 50px;
}
.Weather .units {
  font-size: 16px;
  font-weight: 400;
  position: relative;
  line-height: 1;
  top: -34px;
  margin-left: 5px;
}
li {
  list-style: none;
}
